<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convert Image Extension for free...">
    <meta name="keywords" content="image extension, convert image">
    <title>Image7Converter - Home</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
</head>

<body>


    <section class="navbar">
        {{>navbar}}
    </section>

    <section class="Home">
        <div class="main-heading">
            {{!-- <h2>Welcome to Image Converter</h2> --}}
        </div>

        <div class="home-container">
            <div class="image-container">
                {{!-- <img src="images/homeimage.PNG" class="img" alt=""> --}}
            </div>
            <div class="home-desc">

                <div>
                    <a href="/tools"><button class="btn">Explore Tools</button></a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        {{>footer}}
    </section>


</body>
</html>