<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOOLS</title>
    <link rel="stylesheet" href="/tools.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">

</head>

<body>


    <section class="navbar">
        {{>navbar}}
    </section>
    <section class="extension-tools" id="extension-converter">
        <div class="image-extensions">
            <h2 class="extension-heading">Extension converter</h2>
            <div class="extensions-div">
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>WEBP</b> TO <b>PNG</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptojpg" class="tool"><b>WEBP</b> TO <b>JPG</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptojpeg" class="tool"><b>WEBP</b> TO <b>JPEG</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptogif" class="tool"><b>WEBP</b> TO <b>GIF</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/pngtowebp" class="tool"><b>PNG</b> TO <b>WEBP</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/jpgtowebp" class="tool"><b>JPG</b> TO <b>WEBP</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/jpegtowebp" class="tool"><b>JPEG</b> TO <b>WEBP</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/giftowebp" class="tool"><b>GIF</b> TO <b>WEBP</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/jpgtopng" class="tool"><b>JPG</b> TO <b>PNG</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/jpegtopng" class="tool"><b>JPEG</b> TO <b>PNG</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/jpegtojpg" class="tool"><b>JPEG</b> TO <b>JPG</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/jpgtojpeg" class="tool"><b>JPG</b> TO <b>JPEG</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/pngtojpg" class="tool"><b>PNG</b> TO <b>JPG</b></a>

                </div>
                <div class="each-tool">
                    <a href="/tools/pngtojpeg" class="tool"><b>PNG</b> TO <b>JPEG</b></a>

                </div>
            </div>
        </div>
        <div class="video-audio-extensions">
            <h2 class="extension-heading">Video/Audio converter</h2>
            <div class="extensions-div">
                <div class="each-tool">
                    <a href="/tools/mp4tomp3" class="tool"><b>MP4</b> TO <b>MP3</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/mp4tomp3" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
            </div>
           
        </div>
        <div class="video-audio-extensions">
            <h2 class="extension-heading">Files converter</h2>
            <div class="extensions-div">
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
                <div class="each-tool">
                    <a href="/tools/webptopng" class="tool"><b>FROM</b> TO <b>TO</b></a>
                </div>
            </div>
        </div>

    </section>

    <section class="footer">
        {{>footer}}
    </section>


</body>

</html>