<div class="image-div" style="text-align: center;">
    {{#if error}}
    <p class="error-in-file" style="display: block;color: red;   margin: -10px;">Please upload correct file. This file
        is not supported</p>
    {{/if}}
</div>

