<div class="footer-div">
    <div class="footer-content">
        <h4>https://image-converter-19gg.onrender.com</h4><p>| Copyright © 2023 example.com</p>
    </div>
    {{!-- <div class="footer-links-div">
        <li><a href="">privacy policy</a></li>
        <li><a href="">terms & condisions</a></li>
    </div> --}}
</div>