<div class="loading-bar" id="loading-bar" style="height:2px;
    width: 0;
    background-color: red;">

</div>
<script defer>
    const loading = document.getElementById('loading-bar')
    function load() {
        loading.style.width = "95%"
    }


</script>