
<div class="navbar-div">
    <div class="nav-heading">
        <h1>Image Converter</h1>
    </div>
    <div class="main-urls" id="main-urls">
        <li><a href="/">Home</a></li>
        <li><a href="/tools">Tools</a></li>
        <li><a href="/#">Contact Us</a></li>
        <li><a href="/#">Blogs</a></li>
        <input type="text" placeholder="Search a Tool">
        <button class="btn">
            Search
        </button>
    </div>
    <div class="search-div" id="search-div">
        <div>
            <a href="/auth/login"><button class="btn">Login</button></a>
        </div>
        <div>
            <a href="/auth/signup"><button class="btn">Sign Up</button></a>
        </div>
    </div>
    <div class="ham" id="ham">
        <div></div>
        <div></div>
        <div></div>
    </div>

<script src="/js/navbar.js"></script>