<link rel="stylesheet" href="/util.css">
<div>


    <div class="navbar-div">
        <div class="nav-heading">
            <h1>Image Converter</h1>
        </div>
        <div class="main-urls" id="main-urls">
            <li><a href="/">Tools</a></li>
            <li><a href="/docs">Help</a></li>
        </div>
        <div class="auth-div" id="auth-div">
            <div>
                <a href="/auth/login"><button class="btn" id="isLoggedIn1">Login</button></a>
            </div>
            <div>
                <a href="/auth/signup"><button class="btn" id="isLoggedIn2">Sign Up</button></a>
            </div>
            <div>
                <a><button class="btn" id="LoggedIn">Logout</button></a>
            </div>
            <div>
                <a><button class="btn" id="LoggedIn1">Your Downloads</button></a>
            </div>
        </div>
        <div class="ham" id="ham">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
    <div class="extensions-div" id="root"></div>
    <script defer src="/js/navbar.js"></script>