<link rel="stylesheet" href="/css/tutorial.css">

<div class="card">
    <h1>Help</h1>
</div>
<div class="card">
    <p><b>Step1: </b> select tool from following wizard </p>
    <img src="/images/step1.png" alt="">
</div>
<div class="card">
    <p><b>Step2: </b> select image from the file system </p>
    <img src="/images/step2.png" alt="">
    <img src="/images/step3.png" alt="">
</div>
<div class="card">
    <p><b>Step3: </b> click on convert button and download it </p>
    <img src="/images/step4.png" alt="">
    <img src="/images/step5.png" alt="">
</div>

<div class="card">
<p> <b>Note:</b> Follow same steps to convert video format.</p>

</div>
<hr>