@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=IBM+Plex+Serif:wght@500&family=Luxurious+Roman&family=Montserrat:wght@100;300&family=Open+Sans:wght@500&family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* Extensions Converter */
.extension-heading{
    text-align: center;
    margin-top: 20px;
    color: #00A5FE;
}
.extension-tools .extensions-div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin: 20px 20px;
}

.extension-tools .extensions-div .each-tool{
    padding: 20px;
    border: 0.5px solid rgb(58, 144, 179);
}

.extension-tools .extensions-div .each-tool:hover{
    background-color: rgb(205, 205, 206);
}

.extension-tools .extensions-div .each-tool a{
    text-decoration: none;
    color: #0e1740;
}




@media only screen and (max-width: 1260px) {
    .extension-tools .extensions-div{
        grid-template-columns: auto auto auto auto auto auto auto;
    }
  
  }
@media only screen and (max-width: 1126px) {
    .extension-tools .extensions-div{
        grid-template-columns: auto auto auto auto auto;
    }
  
  }
@media only screen and (max-width: 825px) {
    .extension-tools .extensions-div{
        grid-template-columns: auto auto auto auto;
    }
    .extension-tools .extensions-div .each-tool{
        /* margin: 5px; */
        padding: 10px 5px;
    }
  
  }
@media only screen and (max-width: 520px) {
    .extension-tools .extensions-div{
        grid-template-columns: auto auto auto;
       
    }
    .extension-tools .extensions-div .each-tool{
        /* margin: 5px; */
        padding: 10px 5px;
    }
  
  }
@media only screen and (max-width: 420px) {
    .extension-tools .extensions-div{
        grid-template-columns: auto auto ;
        
    }
    
    
    
.extension-tools .extensions-div .each-tool{
    /* margin: 5px; */
    padding: 10px 5px;
}
}